<!DOCTYPE html>
<html lang="de">

<head>

<meta charset="UTF-8">

<title>Synchronisationsberichte</title>

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}"
>

</head>

<body>

{% include "_menu.html" %}

<div class="container">

    <div class="card">

        <h2>Synchronisationsberichte</h2>

        <p>
            Die letzten Synchronisationsberichte:
        </p>


        {% if reports %}

        <table>

            <tr>
                <th>Datum</th>
                <th>Bericht</th>
            </tr>


            {% for report in reports %}

            <tr>

                <td>
                    {{ report.display }}
                </td>

                <td>

                    <a
                        href="{{ url_for('report', filename=report.file) }}">

                        {{ report.file }}

                    </a>

                </td>

            </tr>

            {% endfor %}

        </table>

        {% else %}

        <p>
            Keine historischen Synchronisationsberichte vorhanden.
        </p>

        {% endif %}


        <hr>


        <p>

            <a
                class="button"
                href="/report/last_sync_report.html">

                Letzten Bericht anzeigen

            </a>

        </p>


        <p>

            <a
                class="button"
                href="/">

                Zurueck zur Hauptseite

            </a>

        </p>

    </div>

</div>

{% include "_footer.html" %}

</body>

</html>